.menu__item {
  display: inline-block;
  margin-right: 30px;
}

.menu__item:last-child {
  margin-right: 0;;
}

.menu__item:hover .menu__link {
  color: #f89513;
}
.menu__item:hover .menu__link:before {opacity: 0;}
.menu__item:hover .menu__link:after {opacity: 1;}

.menu__item--active .menu__link:before {opacity: 0;}
.menu__item--active .menu__link:after {opacity: 1;}
.menu__item--active .menu__link {
  color: #f89513;
}

.menu__link {
  display: inline-block;
  padding: 3px 1px;
  position: relative;
  padding-left: 30px;

  font-family: open_sans_bold;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  
  transition: color .3s;
}

.menu__link:before,
.menu__link:after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 3px;

  background: url(../../img/icons/sprite-sidebar.png) center center no-repeat;
  opacity: 1;

  transition: opacity .3s;
}

.menu__link:after {
  opacity: 0;
}

.menu__link--icon--main:before {
  width: 19px; height: 14px;
  background-position: -10px -48px;
}
.menu__link--icon--feed:before {
  width: 20px; height: 18px;
  background-position: -10px -10px;
}
.menu__link--icon--service:before {
  width: 19px; height: 14px;
  background-position: -90px -10px;
}

.menu__link--icon--main:after {
  width: 19px; height: 14px;
  background-position: -49px -48px;
}
.menu__link--icon--feed:after {
  width: 20px; height: 18px;
  background-position: -50px -10px;
}
.menu__link--icon--service:after {
  width: 19px; height: 14px;
  background-position: -90px -44px;
}